.contacts {
    font-style: normal;
    margin-bottom: rem(19px);
}

.contacts__place {
    color: #000;

    @include phones {
        margin-bottom: rem(12px);
    }
}

.contacts__phone-number {
    color: $darkGreen;
    fill: $darkGreen;
    text-decoration: none;
    font-size: rem(21px);

    @include phones {
        display: flex;
        justify-content: center;
        // margin-bottom: rem(19px);
    }
}