.goods__composition {
    display: flex;
    
    @include tablets {
        display: none;
    }
}

.goods__composition-btn {
    position: relative;
}

.goods__composition-btn-icon {
    width: rem(90px);
    height: rem(90px);
    cursor: pointer;
}

.goods__composition-block {
    position: absolute;
    top: 0;
    left: 100%;
    background: rgba(255, 255, 255, 0.89);
    width: rem(273px);
    height: rem(344px);
    border-radius: rem(4px);
    visibility: hidden;
}

.goods__composition-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 rem(25px);
    height: 100%;
    // align-items: center;
}

.goods__composition-item {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goods__composition-element-name {
    font-weight: bold;
    font-size: rem(16px);

    display: flex;
    align-items: center;
}

.goods__composition-icon {
    width: 25px;
    height: 25px;
    margin-right: rem(16px);

    use {
        width: 100%;
        height: 100%;
    }
}
