.hamburger {
    width: 24px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    transition: ease-in-out .4s;

    
    @include tablets {
        display: inline-flex;
        // margin-top: rem(5px);
        // margin-right: rem(5px);
        position: fixed;
        top: rem(30px);
        right: rem(40px);
    }

    @include phones {
        right: rem(10px);
    }
}

.hamburger__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;

    transition: ease-in-out .4s;
}

.hamburger__plank--theme-dark {
    background: #000;
}

.hamburger--active {
    z-index: $z-index-menu;
    // top: rem(42px);
    // right: rem(42px);

    .hamburger__plank {
        width: 24px;

        &:nth-child(1) {
            opacity: 0;
        }
        
        &:nth-child(2) {
            transform: rotate(45deg);
        }
        
        &:nth-child(3) {
            transform: rotate(-45deg) translateX(5.5px) translateY(-6px);
        }
    }
}