.hamburger {
    width: 24px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    
    @include tablets {
        display: inline-flex;
        // margin-top: 6px;
        // margin-right: 15px;
        position: fixed;
        top: rem(30px);
        right: rem(10px);
    }
}

.hamburger__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;
}