.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    width: rem(58px);
    height: rem(40px);
    fill: #fff;
}


.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    flex-wrap: wrap;
    
    @include tablets {
        flex-direction: column;
    }
}

.overlay {
    @include tablets {
        height: 100%;
        width: 100%;
        background: #313131;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in-out .4s;
    
        position: fixed;
        left: 100%;
        top: 0;
        opacity: 0;
        z-index: $z-index-menu;
    }
}

.overlay--active {
    left: 0;
    opacity: 1;
}


.menu__item {
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-bottom: rem(25px);
        margin-right: 0;
        font-size: rem(36px);
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.menu__link {
    text-decoration: none;
}

.phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    fill: #fff;

    @include tablets{
        display: none;
    }
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__icon-elem {
    width: rem(22px);
    height: rem(12px);
    margin-right: rem(6px);
    // fill: #fff;
}