.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    width: rem(58px);
    height: rem(40px);
    fill: #fff;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex-wrap: wrap;
    
    @include tablets {
        visibility: hidden;
        left: 100%;
    }
}

.menu__list--active {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    left: 0;
    top: 0;
    visibility: visible;
    background: #313131;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: $z-index-menu;
    padding-top: rem(145px);
    transition: .4s ease-in-out;

    .menu__item {
        margin-bottom: rem(25px);
        font-size: rem(36px);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.menu__item {
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    text-decoration: none;
}

.phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    fill: #fff;

    @include tablets{
        display: none;
    }
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__icon-elem {
    width: rem(22px);
    height: rem(12px);
    margin-right: rem(6px);
    // fill: #fff;
}