.products-menu-section {
    background: url(../../img/menu/menu_bg.jpg) center center/cover no-repeat;
    position: relative;
    color: #fff;

    &::before {
        content: "";
        background: rgba(0, 0, 0, .4);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
}

.products-menu-section__title {
    color: #fff;

    position: absolute;
    left: rem(84px);
    top: rem(109px);
}