.order-section {
    background: url(../../img/order-bg.jpg) no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: url(../../img/decor/Ягода1.png);
        position: absolute;
        bottom: rem(69px);
        left: 5%;

        @include tablets {
            display: none;
        }
    }

    &::after {
        content: url(../../img/decor/лист-3-1.png);
        position: absolute;
        bottom: rem(10px);
        right: 1%;
    }
}


.order-section__title {
    margin-bottom: rem(50px);

    @include phones {
        margin-bottom: 0;
    }
}

.order-container {
    margin-bottom: rem(90px);
}