.reviews__heading {
    margin-bottom: 32px;
}

.reviews__display {
    background: #F8FAF9;
    padding: 30px 45px 34px;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        display: flex;
        width: 80px;
        height: 80px;
        background: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -60px;
        border-radius: 50%;
    }

    &::after {
        content: url(../../img/decor/Слой2_1.svg);
        position: absolute;
        top: 22px;
        right: 0;
    }
}

.reviews__display-inner {
    display: flex;
}

.reviews__avatar {
    margin-top: 20px;
    width: 253px;
    height: 264px;
}

.reviews__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__content {
    margin-left: 20px;
    flex: 1;
    line-height: 1.2;
    margin-top: 25px;
}

.reviews__title {
    font-size: 30px;
    font-weight: bold;
    // margin-top: 25px;
    margin-bottom: 23px;
    color: #000;
}

.reviews__text {
    margin-bottom: 30px;
    margin-right: 15px;
    width: 78%;
}

.reviews__author {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}