.reviews__container {
    @include tablets {
        margin-bottom: rem(50px);
    }
}

.reviews__heading {
    margin-bottom: rem(32px);

    @include tablets {
        margin-bottom: rem(48px);
    }
}

.reviews__display {
    background: #F8FAF9;
    padding: rem(30px) rem(45px) rem(34px);
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        display: flex;
        width: rem(80px);
        height: rem(80px);
        background: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-60px);
        border-radius: 50%;
    }

    &::after {
        content: url(../../img/decor/Слой2_1.svg);
        position: absolute;
        top: rem(22px);
        right: 0;

        @include phones {
            top: rem(-10px);
            width: 30%;
        }

    }
}

.reviews__list {
    position: relative;
    min-height: rem(264px);
}

.reviews__item {
    position: absolute;
    opacity: 0;
    transition: ease-out .6s;

    &--active {
        position: static;
        opacity: 1;
    }
}

.reviews__display-inner {
    display: flex;

    @include tablets {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-top: rem(20px);
    }
}

.reviews__avatar {
    // margin-top: rem(20px);
    width: rem(253px);
    height: rem(264px);

    @include tablets {
        width: rem(130px);
        height: rem(130px);
        // margin-top: rem(20px);
    }
}

.reviews__avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__content {
    margin-left: rem(20px);
    flex: 1;
    line-height: 1.2;
    margin-top: rem(25px);

    @include tablets {
        text-align: center;
        margin-top: rem(30px);
        margin-left: 0;
    }
}

.reviews__title {
    font-size: rem(30px);
    font-weight: bold;
    margin-bottom: rem(23px);
    color: #000;
}

.reviews__text {
    margin-bottom: rem(30px);
    margin-right: rem(15px);
    width: 78%;

    @include tablets {
        width: 100%;
    }
}

.reviews__author {
    font-size: rem(18px);
    font-weight: bold;
    color: #000;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
    margin-top: rem(15px);

    @include tablets {
        margin-top: rem(30px);
    }

    @include phones {
        margin-top: rem(50px);
    }
}