.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__item {
    margin-right: 14px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__img {
    width: 20px;
    height: 20px;
    fill: #b3b3b3;

    &:hover {
        fill: #000;
    }
}