.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team--desktop--v {
    @include tablets {
        display: none;
    }
}

.team--mobile--v {
    display: none;

    @include tablets {
        display: flex;
        flex-direction: column;
        margin-bottom: rem(16px);
    }
}

.team__item {
    text-align: center;
    max-width: rem(222px);
    position: relative;
    margin-bottom: rem(42px);
}

.team__img-block {
    height: rem(290px);
    width: 100%;
    margin-bottom: rem(21px);
}

.team__img {
}

.team__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(8px);
    cursor: pointer;
}

.team__person-name {
    color: #000;
    font-size: rem(21px);
    font-weight: bold;
    margin-right: rem(4px);
}

.team__person-btn {
    width: rem(9px);
    height: rem(9px);
    transition: .3s ease-in;

    &--active {
        transform: rotate(-180deg);
    }
}

.team__content-wrapper {
    position: absolute;
    top: 100%;
    height: 0;
    overflow: hidden;
    transition: height .3s;

    @include tablets {
        position: static;
    }
}

.team__content {

}

.team__position {
    color: #000;
}

.team__position-desc {

}